<div class="body contains_vestpocket article">
																						
							
							
    						<p>Mikhail Prokhorov told Forbes in 2009, in perhaps the first feature story on the Russian billionaire in the U.S. press.</p>
<p>Now Prokhorov, the owner of the New Jersey Nets and Russia’s third wealthiest person, will try to back up that bold statement. He announced Monday at a press conference that he would challenge Prime Minister Vladimir Putin in the 2012 Russian presidential election.</p>
<p>“I have made the most serious decision of my life. I am running for president,” Prokhorov said, after tens of thousands of people protested the internationally-condemned, likely-fraudulent parliamentary election results that re-elected Putin’s United Russia party.</p>
				
	
		
		
				
	
</aside><p>In September, Prokhorov was ousted from his own political party, a pro-business effort that was challenging United Russia in the parliamentary elections. He blamed the Kremlin for instigating an internal power struggle.</p>
<p>“I think that our society is waking up, and that part of the government which is not capable of establishing a dialogue with society, those authorities will have to go,” Prokhorov said on Monday, according to The New York Times. “The world is undergoing serious changes, a new kind of person has arisen as the result of the internet, and communication between the authorities and society will have a more honest character.”</p>
<p>Prokhorov has long kept a personal blog, where he has recently posted dissatisfaction with the parliamentary elections. If you know Russian, you can read it here. However, in 2009, he told Forbes that he doesn’t use a computer, and that his staff posts handwritten versions of his blog entries.</p>
<p>The six-foot-eight bachelor made his fortune in metals and banking in Russia. In 1995, Prokhorov and his business partner Vladimir Potanin bought Norilsk, a nickel mining company, for $250 million and a $300 million investment. They built the company into a sales giant with $17.1 billion in revenue in 2007, turning their initial investment into $28.5 billion at one point.</p>
<p>Then in 2007, Prokhorov was pushed out of Norilsk after allegedly trafficking prostitutes and making them avaliable to guests in the French Alps. Although arrested, he was eventually released without charges. (At the time, there were rumors that Putin had personally encouraged Potanin to dump his partner over the embarrassing incident.)</p>
<p>Perhaps it turned out for the best. Prokhorov sold his 25 percent stake in the company just before the 2008 financial crisis. While other Russian moguls’ fortunes fell considerably (and his former partner Potanin&nbsp;was forced&nbsp;to sell off assets), Prokhorov became at the time the wealthiest man in the country with an estimated cash pile of at least $5 billion. He has since bought the New Jersey Nets, began publishing a Russian-language magazine, Snob, in the U.S. and is spending $200 million to help make Russia’s first hybrid, the Yo. &nbsp;He also has a stake in Polyus Gold.</p>
<p>Putin is the second most powerful person in the world, according to Forbes. So does Prokhorov stand a chance?</p>
<p>Prokhorov told Forbes in 2009, “I never accept the risk I can’t control.” &nbsp;Let’s hope he’s right, and that he fares better than the last billionaire to take on Putin.</p>
<p>Mikhail Khodorkovsky, once the richest person in Russia, has been behind bars since 2003, convicted on fraud charges and tax evasion. He was supposed to be released this year but instead was convicted a second time in December 2010 of embezzling more than 200 million tons of oil and laundering the proceeds, adding six more years onto their time in the slammer. To many, the verdicts were politically motivated, a move by Putin to keep his political foe locked up. An aide to the judge stepped down after alleging that the judge had been pressured to issue a guilty plea.</p>
<div class="zemanta-pixie"><img class="zemanta-pixie-img" src="http://img.zemanta.com/pixy.gif?x-id=123550e8-f06a-4359-bf35-010235c1419e" alt=""><span class="zem-script pretty-attribution more-related"></span></div>


    					</div>